#!/bin/sh

# start udiskie auto disk mounting
udiskie --no-file-manager --smart-tray &

# run Xmodmap
[ -f ~/.Xmodmap ] && xmodmap ~/.Xmodmap

# run local xhost
xhost local:root

picom -c -b

setxkbmap -layout us,de -option grp:alt_shift_toggle
