#!/bin/sh

# start udiskie auto disk mounting
udiskie --no-file-manager --smart-tray --use-udisks2 &

# run Xmodmap
[ -f ~/.Xmodmap ] && xmodmap ~/.Xmodmap

# run local xhost
xhost local:root

xcompmgr -c &
